*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    background-color: #E11364;
}
header h1 {
    background-color: #BC105C;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 8%;
    padding: 5px 0;
    border-left: 0.4rem solid white; 
    border-right: 0.4rem solid white;
}
h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
    background-color: #BC105C; 
    margin: 0 8%;
    padding: 5px 0;   
}h4 {
    color: #86142E;
    font-weight: bold;
    font-size: 1.2rem;
}
h5 {
    color: #86142E;
    text-align: right;
    font-size: 1.5rem;
    border-bottom: dotted #86142E;
    margin: 1rem 4%;
}
.contenedor_ppal {
    background-color: #BC105C; 
    border-radius: 1%;
    margin: 5px 8%;
    padding: 1rem 0.5rem;
}
.img_content {
    text-align: center;
    border-radius: 1%;
    padding: 2% 4%;
    width: 92%;
}
.section {
    margin-top: 20px;
    margin-right: 20px;
}
.seccion-container {
    background-color: #FBFAFC; 
    border-radius: 1%;
    margin: 20px 10px;
    padding: 0.5rem 0.5rem;
}
p {
    text-align: start;
    font-size: 16px;
    margin: 2% 4%;
}
div a {
    background-color: green; 
    display: block; 
    text-align: center;
    margin: 0 auto;
    padding: 10px 20px; 
    color: white;  
    font-weight: bold;
    text-decoration: none; 
    border-radius: 8%;
    width: 4rem; 
    transition: background-color 0.1s;
}
div a:hover {
    background-color: #BC105C; 
    color: white;
}
footer {
    background-color: #E96093;
    color: white;
    text-align: center;
    border-radius: 1%;
    margin: 1rem 8%;
    padding: 1rem 0;
}
/*Cartilla para venta*/
.menu {
    color: white;
}
section div p {
    text-align: justify;
}
.product-container {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 5px;
    margin:  1rem 8% 2rem 8%;
    padding: 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    margin: 10px 0;
    padding: 15px;
    gap: 10px;
}
.product-image img, .product-image iframe{
    max-width: 100%;
    max-height: 180px;
}
.product-info {
    max-width: 60%;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
    
}
.product-title {
    font-size: 24px;
    margin: 20px 0;
}
.product-precio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.precio {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
}
.product-price {
    font-size: 20px;
    color: #ff1900;
    font-weight: bold;
}
.product-description {
    margin: 0;
}
.product-details {
    margin-top: 20px;
}
.toggle-details {
    display: none;
}
ul {
    margin: 10px 20px;
}
.toggle-label {
    cursor: pointer;
    color: red;
    display: block;
    margin-left: 15px;
}
.toggle-details:checked ~ .toggle-label {
    display: none;
}
.toggle-details:checked ~ .toggle-label-less {
    display: block;
}
.toggle-details:not(:checked) ~ .details-content {
    display: none;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.toggle-label-less {
    cursor: pointer;
    color: red;
    display: none;
    margin-left: 15px;
}
/*Personajes del juego*/
.content_character {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;   
    background-color: rgba(0, 0, 0, 0.482); 
    border-radius: 1%;
    margin: 20px 10px;
    padding: 0.5rem 0.5rem;
    margin: 2rem 8%;
    padding: 5px 0;
}
.content_character div {
    position: relative;
    width: 160px;
    border-radius: 4px;
    overflow: hidden;
}
.content_character div:hover img {
    transform: scale(1.15);
}
.content_character div .title-box {
    content: "";
    height: 100px;
    position: absolute;
    transform: translateY(50px);
    transition: 0.3s ease;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(98, 8, 121, 0), rgb(0, 0, 0));
    width: 100%;
    z-index: 1;
}
.content_character div img {
    object-fit: cover;
    height: 100%;
    height: 200px;
    width: 100%;
    transition: 0.3s ease;
}
.content_character div .name {
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-weight: bold;
    color: #fff;
    transform: translate(32px);
    padding: 10px;
    z-index: 10;
    transition: 0.3s ease;
    cursor: default;
}
.content_character div:hover .name, 
.content_character div:hover .title-box {
    transform: translateY(0);
}
/* Galeria de imagenes*/
.gallery {
    margin: 1rem;
    height: 100%;
    width: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 2rem 8%;
    padding: 5px 0;
}
.gallery-container .gallery-item {
    scroll-snap-align: start;
}
.gallery-item {
    display: flex;
}
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 800px) {
    header {
        padding: 0;
        margin-top: 0;
        margin: 0;
        padding: 0;
    }
    h1 {
        margin: 10px 0 30px 0;
    }
    .section {
        margin: 20px;
    }
    .product-container {
       flex-wrap: wrap; 
    }
    .product-info {
        margin-top: 0;
        max-width: 100%;
    }
    .product-image {
        width: 100%;
        height: 100%;
    }
    .product-precio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .precio {
        justify-content:center;
    }
    .content_character div .name {
        font-size: 10px;
        padding: 0px;
    }
    .content_character {
        gap: 3px;   
    }
    .contenedor_ppal {
        gap: 1rem;
    }
}